.banner {
  min-height: 540px;
  position: relative;
  background: url(../images/main-bg.webp) no-repeat center center;
  background-size: contain;

  &-video {
    @include center;
    top: 40%;
  }
}