.tracks {
  padding: 16px 0;
  margin-top: 20px;

  &-section {
    padding: 50px 0;
  }
}

.tracks {
  cursor: pointer;
  text-transform: uppercase;
  width: max-content;
  display: grid;
  gap: 16px;
  position: relative;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "image date" "title .";

  &-item {
    &:nth-child(2n) {
      .track {
        margin-left: auto;
        grid-template-columns: 1fr 300px;
        grid-template-areas: "date image" ". title";
      }
    }
  }
}